body {
    font-family: 'Courier New', Courier, monospace;
    width: calc(100% - 60px);
    margin: auto;
}

table {
    width: 100%;
}

td {
    border-bottom-style: solid;
    border-width: 1px;
}

td.small {
    width: 20%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a {
    color: blue;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.round {
    border-radius: 50%;
}

.shade {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.margin {
    margin: 20px;
    width: 40%;
}

.project {
    display: flex;
    margin: 30px;
}

.project .description {
    padding: 30px;
    width: 100%;
}